<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>@Page.Title</title>
        <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"> 
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />

        <link rel="stylesheet" href="~/Content/jquery.mobile-1.3.1.min.css" />
        <link rel="stylesheet" href="~/Content/Site.mobile.css" />
        <script src="~/Scripts/modernizr-2.6.2.js"></script>
        <script src="~/Scripts/jquery-1.10.2.min.js"></script>
        <script src="~/Scripts/jquery.mobile-1.3.1.min.js"></script>
        <script src="~/Scripts/jquery.validate.min.js"></script>
        <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

        
    </head>
    <body>
        <div id="page" class="group" data-role="page" data-theme="b">
                @RenderSection("Headbar",false)
            <div data-role="content" class="pagebody">                
                @RenderBody()
            </div>
                       
        <div data-theme="a" data-role="footer" data-position="fixed">
                <div id="nav" data-role="navbar" data-theme="b">
                    <ul>
                        @foreach (var contentPage in App.ContentPages) {
                            if (contentPage.Title == Page.Title) {
                                <li><a rel="external" data-ajax="false" href="~/ContentPage/@contentPage.Id" title="@contentPage.Header" class="ui-btn-active">@contentPage.Header</a></li>
                            } else {
                                <li><a rel="external" data-ajax="false" href="~/ContentPage/@contentPage.Id" title="@contentPage.Header">@contentPage.Header</a></li>
                            }
                        }
                    </ul>
                </div>
        
                    </div>
</div>
    </body>
</html>